.git/
.github/

maps/.git/
maps/README.md

.gitattributes
.gitignore
.gitmodules

README.md

styles/node_modules/
styles/out/
styles/dist/

sprites/node_modules/
sprites/out/
sprites/index.js

frontend/node_modules/
frontend/dist/
frontend/README.md